@import "../settings";
@import "compass/css3/border-radius";


/* /////////////////////////////////////

THEME

///////////////////////////////////// */


.theme-styleguide-col {

	margin: .5em 0;
	padding: 1em;

	@include border-radius(3px);	

	//background-color: lighten( $primary-colour , 50%);
	background-color: lighten( $base-color, 30% );

	text-align: center;

}