@import "../settings";
@import "normalize";
@import "compass/css3/box-sizing";


// Box sizing setting
*, *:after, *:before {
  
	@include box-sizing(border-box);

}


// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix, .cf {

  	zoom: 1;
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }

}


body {

	background-color: #F3F3F3;

}


// Make images responsive
img {

    max-width: 100%;
    height: auto;

}

// LOGO

.logo {

	margin: 0;
	padding-top: .45em;

	font-size: $h3-size;

	a {
		text-decoration: none;
	}

}