@import "../settings";
@import "compass/css3/border-radius";


/* /////////////////////////////////////

BOX

///////////////////////////////////// */


.box {

	margin-bottom: $baseline * 1.5;
	overflow: hidden;

	@include border-radius(4px);

	background-color: #FFFFFF;

}

.box-content {

	padding: 1.5em;

}

.box-title {

	margin: 0px;

}
